[Desktop Entry]
Name=CorePad
Comment=CorePad is document editor app from CoreApps.
Exec=corepad %F
Icon=/usr/share/icons/CoreApps/CorePad.svg
Type=Application
Categories=Utility;TextEditor;Viewer;Qt;Utility;
Terminal=false
StartupNotify=true
